<div id="login">
  <h2>Logging in to Smartass</h2>
  <form action="/login" method="POST">
    <label for="input-username-or-email"> Username or email </label>
    <input type="text" name="username-or-email" placeholder="Your username or email" />

    <label for="input-password"> Password </label>
    <input type="password" name="password" id="input-password" placeholder="********" />

    <button type="submit">Login</button>

    {{!-- error message will be added here --}}
  </form>
</div>