<h2>You have been logged out!</h2>

<h4>What do you want to do next?</h4>

<button type="submit"><a href="/auth/signup">Create new account</a></button>
<button type="submit"><a href="/auth/login">Login again</a></button>
<button type="submit"><a href="/">Take me home</a></button>