<form action="/createGoal" method="POST">
    <label for="category"> Goal category </label>
    <select name="category" id="category" placeholder="The goal category" />
    <option value="" disabled selected hidden>Choose a category</option>
    <option value="books">Books</option>
    <option value="movies">Movies</option>
    </select>
    <label for="goalNumber"> Goal number </label>
    <input type="text" id="goalNumber" name="goalNumber" placeholder="Your goal" />

    <label for="startDate"> Start date </label>
    <input type="date" id="startDate" name="startDate" />
    <label for="endDate"> End date </label>
    <input type="date" id="endDate" name="endDate" />
    <button type="submit">Submit goal</button>
</form>