<h1>Here you can an overview of your goals!</h1>

{{#if dashboardGoals}}
{{#each dashboardGoals}}
<a href="/user/goals/{{this.id}}">
    <h3>{{this.goalName}}</h3>
</a>
<div id="myProgress">
    <div id="myBar"></div>
</div>

{{/each}}
{{else}}
<h3>You have no goals yet. Please, create one!</h2>
    {{/if}}

    <button type="submit" id="create-another-goal"><a href="/createGoal">Create another goal</a></button>