<h1 id="title-home">Set. Score. Smartass</h1>

<div id="visual-home-div">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Books_Flat_Icon_Vector.svg/691px-Books_Flat_Icon_Vector.svg.png"
    alt="some picture of books" id="visual-home">
</div>