<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <nav id="main-nav">
      <a href="/">Home</a> <span> | </span>
      {{#unless user}}
      <a href="/auth/signup">Signup</a> <span> | </span>
      <a href="/auth/login">Login</a>
      {{/unless}}

      {{#if user}}
      <a href="/user/my-profile">{{user.username}}</a> <span>| </span>
      <a href="/user/dashboard">My goals</a> <span>| </span>
      <a href="/user/my-friends">My friends</a> <span>| </span>
      <a href="/auth/logout">Log out</a>
      {{/if}}
   </nav>

   {{{body}}}



   <script src="/js/script.js"></script>
</body>

</html>