<form id="login-form" method="POST" action="/">
  <input type="text" name="email or username" id="email or username" placeholder="Email or username">
  <input type="password" name="password" id="password" placeholder="Password">
  <button type="submit" id="login-btn">Login</button>
</form>

<form id="signup-form" method="POST" action="/">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="email" name="email" id="email" placeholder="Email">
  <input type="full-name" name="full-name" id="full-name" placeholder="Full name">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="password" name="password" id="password-repeat" placeholder="Repeat password">
  <button type="submit" id="signup-btn">Sign up</button>
</form>