<h1>Welcome to smartass!</h1>

{{#if user}}
<h2>Hi, {{ user.username }}!</h2>
<p>This is your profile page my friend!</p>
<button>
    <a href="/userProfile">Reload the page</a>
</button>
{{else}}
<p>You are not logged in.</p>
{{/if}}