<div class="page" id="goodbye">
  <h2 class="page-title">Your user profile has been deleted.
    <br>You won't be forgotten.
  </h2>

  <h4>If you want to sign up again, click on the button below.
    Your username may still be available!</h4>

  <button type="submit" class="basic-btn"><a href="/auth/signup">Sign me up again!</a></button>
</div>