<h2>Your user profile has been deleted. You won't be forgotten.</h2>

<h4>If you want to sign up again, click on the button below.
  Your username may still be available!</h4>

<button type="submit"><a href="/auth/signup">Sign me up again!</a></button>