body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto 0 auto;
  background-color: rgb(252, 248, 242);
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 50px;
}

h4 {
  font-size: 20px;
  font-weight: lighter;
}

/* basic settings (based on signup and login pages) */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  margin-top: 120px;
}

.basic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic-form input,
select {
  padding: 5px;
  margin: 5px;
}

.basic-btn {
  padding: 10px 30px;
  margin-top: 20px;
  background-color: #2a2d93;
  color: #fbb238;
  font-weight: 500;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 3px;
}

/* create goal page */

#create-goal > div {
  margin: 5px;
}

#goalName {
  width: 300px;
}

/* XXX */

#myProgress {
  width: 60%;
  background-color: rgb(5, 52, 77);
}

#myBar {
  width: 10%;
  height: 40px;
  background-color: rgb(99, 187, 209);
}

#create-another-goal {
  margin: 1em;
}

progress[value] {
  width: 50vw;
  height: 4vh;
  -webkit-appearance: none;
  appearance: inherit;
}

progress[value]::-webkit-progress-bar {
  background-color: rgb(187, 231, 236);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: rgb(48, 145, 206);
}

#theGoalName {
  position: relative;
  z-index: 2;
  font-size: 8em;
  letter-spacing: 15px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-shadow: 1px 1px hsl(50, 50%, 45%), 2px 2px hsl(50, 50%, 40%),
    3px 3px hsl(50, 50%, 35%), 4px 4px hsl(50, 50%, 34%),
    5px 5px hsl(50, 50%, 33%), 6px 6px hsl(50, 50%, 32%),
    7px 7px hsl(50, 50%, 31%), 8px 8px hsl(50, 50%, 30%),
    9px 9px hsl(50, 50%, 29%), 10px 10px hsl(50, 50%, 28%),
    10px 10px 30px rgba(0, 0, 0, 0);
}

#goalCategory {
  position: relative;
  z-index: 2;
  font-size: 8em;
  letter-spacing: 15px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-shadow: 1px 1px hsl(191, 58%, 52%), 2px 2px hsl(191, 50%, 40%),
    3px 3px hsl(203, 56%, 50%), 4px 4px hsl(203, 50%, 34%),
    5px 5px hsl(207, 64%, 54%), 6px 6px hsl(207, 50%, 32%),
    7px 7px hsl(210, 50%, 31%), 8px 8px hsl(210, 50%, 30%),
    9px 9px hsl(213, 50%, 29%), 10px 10px hsl(213, 50%, 28%),
    10px 10px 30px rgba(0, 0, 0, 0);
}

#theGoalNumber {
  position: relative;
  z-index: 2;
  font-size: 8em;
  letter-spacing: 15px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-shadow: 1px 1px hsl(116, 50%, 45%), 2px 2px hsl(116, 50%, 40%),
    3px 3px hsl(128, 50%, 35%), 4px 4px hsl(128, 50%, 34%),
    5px 5px hsl(131, 50%, 33%), 6px 6px hsl(131, 50%, 32%),
    7px 7px hsl(134, 50%, 31%), 8px 8px hsl(134, 50%, 30%),
    9px 9px hsl(137, 50%, 29%), 10px 10px hsl(137, 50%, 28%),
    10px 10px 30px rgba(0, 0, 0, 0);
}

#theCurrentNumber {
  position: relative;
  z-index: 2;
  font-size: 8em;
  letter-spacing: 15px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-shadow: 1px 1px hsl(255, 50%, 45%), 2px 2px hsl(255, 50%, 40%),
    3px 3px hsl(258, 50%, 35%), 4px 4px hsl(258, 50%, 34%),
    5px 5px hsl(261, 50%, 33%), 6px 6px hsl(261, 50%, 32%),
    7px 7px hsl(264, 50%, 31%), 8px 8px hsl(264, 50%, 30%),
    9px 9px hsl(267, 50%, 29%), 10px 10px hsl(267, 50%, 28%),
    10px 10px 30px rgba(0, 0, 0, 0);
}

#thePercentage {
  position: relative;
  z-index: 2;
  font-size: 8em;
  letter-spacing: 15px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-shadow: 1px 1px hsl(355, 50%, 45%), 2px 2px hsl(355, 50%, 40%),
    3px 3px hsl(358, 50%, 35%), 4px 4px hsl(358, 50%, 34%),
    5px 5px hsl(361, 50%, 33%), 6px 6px hsl(361, 50%, 32%),
    7px 7px hsl(364, 50%, 31%), 8px 8px hsl(364, 50%, 30%),
    9px 9px hsl(367, 50%, 29%), 10px 10px hsl(367, 50%, 28%),
    10px 10px 30px rgba(0, 0, 0, 0);
}

/* ALEKSANDRA */

/* layout */

#main-nav {
  width: 100%;
  height: 30px;
  background-color: #fbb238;
  color: #2a2d93;
  padding-left: 20px;
  padding-top: 10px;
  position: fixed;
  margin: 0;
  top: 0;
}

#main-nav a {
  color: #2a2d93;
  text-decoration: none;
}

/* My profile/edit */

.userProfile {
  padding-left: 100px;
}

.myProfilePicture {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 100px;
}

/* Home page */

#title-home {
  text-align: center;
  margin-top: 150px;
}

#visual-home-div {
  display: flex;
  justify-content: center;
}

#visual-home {
  width: 300px;
}

/* Dashboard page */

.dashboard {
  text-align: center;
  margin-top: 120px;
}

.dashboard a {
  text-align: center;
  color: #fbb238;
  text-decoration: none;
}

/* My friends page */

.my-friends {
  padding-left: 100px;
}

.my-friends h2 {
  padding-top: 50px;
  margin-bottom: 0px;
}

.my-friends h4 {
  margin: 0;
  padding-top: 30px;
}

.search-friends input {
  padding: 5px;
  width: 300px;
  margin-bottom: 30px;
}

.friends-gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.friends-gallery p {
  text-align: center;
}

.username {
  margin-top: 5px;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.single-friend-profile {
  width: 150px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  padding-right: 30px;
}

.single-friend-profile img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-color: black;
  margin-top: 5px;
}

.username a {
  text-decoration: none;
  color: #2a2d93;
  font-weight: bold;
}

.basic-btn a {
  color: #fbb238;
  text-decoration: none;
}

.friends-btn {
  padding: 10px 30px;
  margin-top: 2px;
}

#reject-btn {
  margin-bottom: 30px;
  margin-top: 10px;
}

#remove-btn {
  margin-bottom: 30px;
}

/* goodbay page (after you remove your account */

#goodbay {
  text-align: center;
}
