/* GLOBAL SETTINGS AND LAYOUT */

/* global settings */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto 0 auto;
  background-color: rgb(252, 248, 242);
}

h1 {
  font-size: 80px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 44px;
  }
}

h2 {
  font-size: 50px;
}

@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;
  font-weight: lighter;
}

/* basic settings */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  margin-top: 20vh;
}

.basic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic-form input,
select {
  padding: 5px;
  margin: 5px;
}

.basic-btn {
  padding: 10px 30px;
  margin-top: 20px;
  background-color: #2a2d93;
  color: #fbb238;
  font-weight: 500;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 3px;
}

/* layout */

#main-nav {
  width: 100%;
  height: 30px;
  background-color: #fbb238;
  color: #2a2d93;
  padding-left: 20px;
  padding-top: 10px;
  position: fixed;
  margin: 0;
  top: 0;
  z-index: 10000;
}

#main-nav a {
  color: #2a2d93;
  text-decoration: none;
}

/* GENERAL VIEWS */

/* Home page */

#title-home {
  text-align: center;
  margin-top: 20vh;
}

#visual-home-div {
  display: flex;
  justify-content: center;
}

#visual-home {
  width: 30vw;
}

@media (max-width: 768px) {
  #visual-home {
    width: 90vw;
  }
}
