/* USER VIEWS */

/* onboarding page */

#visual-onboard {
  height: 30vh;
}

#welcome-text {
  width: 50vw;
}

@media (max-width: 768px) {
  #welcome-text {
    width: 90vw;
  }
}

/* my profile page */

.userProfile {
  padding-left: 10vw;
}

@media (max-width: 768px) {
  .userProfile {
    padding-left: 10px;
  }
}

.myProfilePicture {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  margin-top: 120px;
}

@media (max-width: 768px) {
  .myProfilePicture {
    margin-top: 180px;
    margin-left: 35px;
  }
}

.profileUsername {
  position: absolute;
  top: 120px;
  left: 420px;
  text-align: left;
}

@media (max-width: 768px) {
  .profileUsername {
    text-align: center;
    left: 20px;
    top: 400px;
  }
}

.user-btn {
  position: absolute;
  top: 260px;
  left: 420px;
  text-align: left;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .user-btn {
    top: 50px;
    left: 15px;
    text-align: center;
  }
}

.user-btn button {
  margin: 30px 10px;
}

.userData {
  position: absolute;
  top: 380px;
  left: 120px;
  text-align: left;
  padding-bottom: 20vh;
}

@media (max-width: 768px) {
  .userData {
    left: 20px;
    padding-bottom: 10px;
    top: 500px;
  }
}

.userData span {
  font-weight: bold;
}

.userData h4 {
  line-height: 20px;
}

.text {
  width: 400px;
  line-height: 25px;
}

/* My profile page – edit */

#profile-edit input {
  padding: 5px;
  margin: 5px;
}

#profile-edit label {
  font-size: 20px;
}

/* My friends page */

.my-friends {
  padding-left: 100px;
}

@media (max-width: 768px) {
  .my-friends {
    padding-left: 20px;
  }
}

.my-friends h2 {
  padding-top: 50px;
  margin-bottom: 0px;
}

.my-friends h4 {
  margin: 0;
  padding-top: 30px;
}

.search-friends input {
  padding: 5px;
  width: 300px;
  margin-bottom: 30px;
}

.friends-gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

@media (max-width: 768px) {
  .friends-gallery {
    width: 100vw;
    flex-wrap: wrap;
  }
}

.friends-gallery p {
  text-align: center;
}

.username {
  margin-top: 5px;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.single-friend-profile {
  width: 150px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  padding-right: 30px;
}

.single-friend-profile img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-color: black;
  margin-top: 5px;
}

.username a {
  text-decoration: none;
  color: #2a2d93;
  font-weight: bold;
}

.basic-btn a {
  color: #fbb238;
  text-decoration: none;
}

.friends-btn {
  padding: 10px 30px;
  margin-top: 2px;
}

#reject-btn {
  margin-bottom: 30px;
  margin-top: 10px;
  background-color: #c22229;
}

#remove-btn {
  margin-bottom: 30px;
}

/* goodbay page (after you remove your account */

#goodbye {
  text-align: center;
}

/* page of a friend user */

.user-friends {
  position: absolute;
  top: 720px;
  left: 120px;
}

@media (max-width: 768px) {
  .user-friends {
    position: absolute;
    top: 800px;
    left: 20px;
  }
}
