<h1>This is step 2 DONE</h1>

<div>
  <div id="checklist">
    <h3>The checklist</h3>
    <input type="checkbox" id="step1" name="step1" value="step1" checked>
    <label for="step1"> Step 1: Fill in your profile</label><br>

    <input type="checkbox" id="step2" name="step2" value="step2" checked>
    <label for="step2"> Step 2: Set your first goal</label><br>

    <input type="checkbox" id="step3" name="step3" value="step3">
    <label for="step3"> Step 3: Build your friends circle</label><br><br>

    <button typu="submit"><a href="/onboarding/step-3">Next step!</a></button><br><br>
  </div>

  <!--View your first goal here -->
  <p>Here will be the dashboard showing your first goal</p>

</div>